.body {
  display: grid;
  place-items: center;
  width: 100%;
  background-color:#E8E8E8;
  
}
.container {
  display: grid;
  width: 93%;
  place-items: center;
  background-color: white;
  grid-template-columns: auto auto ;
  margin:160px 0  0px 0;
  padding: 0 0 40px 0;
}
.boxgrid {
  box-shadow: 0 1px 5px gray ;
  border-radius: 0.5rem;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 500px;
  height: 170px;
  text-decoration: none;
  background-color: white;
}
.boxgrid:hover {
  background-color: #E8E8E8;
}
.boxgrid:hover .boxroom{
  opacity: 90%;
}

.boxroom {
  background-color: white;
  height: 170px;
  width: 200px;
  border-radius: 15px;
  text-decoration: none;
  margin-bottom: 50px;
}
.Text {
  display: grid;
  grid-template-rows: 30px 30px 30px 20px 20px 20px 20px ;
  height: 170px;
}
.line1 {
  margin-top: 10px;
}
.line2 {
  margin-top: -15px;
}
.line3 {
  margin-top: -5px;
  font-size: 14px;
}
.line4 {
margin :-10px 0 0 5px ;
}
.line5 {
  margin-top: 0px;
}
.line6 {
  display: grid; 
  margin: 8px 0 0 0;
  grid-template-columns: 10px 45px 200px;
}
.Texthead {
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.Textlocation {
  font-weight: bold;
  color: black;
  font-family: 'kanit' , sans-serif;
  margin-top: -21px;
  margin-left: 25px;
}
.Textdetail {
  width: 300px;
  color: rgb(155, 10, 10);
  font-weight: bold;
  font-size: 14px;
  font-family: 'Helvetica' , sans-serif;
  margin-top: -22px;
  margin-left: 5px;
}
.icon3 {
  color: rgb(155, 10, 10);
}
.price {
  font-size: 14px;
  color: rgb(155, 10, 10);
  font-weight: bold;
  margin-left: 5px;
  margin-top: 3px;
}
.Textprice {
  font-weight: bold;
  opacity: 0.5;
  color: black;

}
.Texttype {
  font-weight: bold;
  text-decoration: none;
  color: green;
}
.Textreview {
  color: rgb(15, 64, 210);
  font-weight: bold;
  margin-top: -45px;
  margin-left: 70px;
}