
.text {
    text-align: center;
    font-size:25px;
    padding: 5px;

}

.bor {
    border-width: 100%;
    padding: 1%;
    padding-bottom: 2%;

    
    
}
.search{
 
    padding: 0.1%;
    padding-left: 10%;
    border-radius: 1.5rem;
    opacity: 2;
    
}

.searchtext {
    padding-left: 5px;
    width: 50%;
    height: 5%;
    background-color: rgb(240, 240, 240);
    padding: 5px;
   

}
.search_box {
    padding-top: 200px;
}

.search {
    padding-left: 25px;
    display: flex;
    align-items: center;
    margin: auto;
    width: 612px;
    height: 54px;
    background-color: white;
    border-radius: 25px;
    -webkit-box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);
}

.select_area {
    color: #4451FE;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    font-weight: medium;
}

.textbox {
    padding-left: 15px;
    color: #0f1ef1;
    font-family: 'Roboto', sans-serif;
}

.line {
    margin-left: 15px;
    border-left: 1px solid #D8D8D8;
    height: 40px;
}

.search_text {
    width: 100%;
    border: none;
    margin-left: 15px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    font-weight: Regular;
  
}


.text_andicon {
    width: 410px;
    display: flex;
    align-items: center;
}

.search_icon {
    color: #5E6573;
    transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    /** Chrome & Safari **/
 
}

.search_text:focus {
    outline: none !important;
}

.search_text:focus+.search_icon {
    color: #4451FE;
    transform: translate(55px, 0);
    -webkit-transform: translate(55px, 0);
    -o-transform: translate(55px, 0);
    -moz-transform: translate(55px);
}
