.navbar{
    top:0px;
    left: 0px;
    position: fixed;
    display: grid;
    height: 150px;
    width: 100%;
    grid-template-rows: 100px 50px;
    background-color: white;
    z-index: 20;
}
.navbar a{
    text-decoration: none;
    color: black;
}
.topbar {
    border-bottom: 3px solid black;
    display: grid;
    grid-template-columns: 7% 13% 10% 30% 25% 15%;
    box-shadow: 0px 1px 4px gray;
    text-decoration: none;
}

.topbar1 {
    border-bottom: 3px solid black;
    display: grid;
    grid-template-columns: 7% 13% 35% 5% 20% 4% 4% 15%;
    box-shadow: 0px 1px 4px gray;
    text-decoration: none;
    place-items: center;
}

.topbar2 {
    border-bottom: 3px solid black;
    display: grid;
    grid-template-columns: 7% 8% 66% 4% 5% 10%;
    box-shadow: 0px 1px 4px gray;
    text-decoration: none;
    place-items: center;
}

.sign{
    display: grid;
    padding :10px 0px 10px 60px;
    grid-template-rows: 10px 25px 25px 10px;
    font-size: 23px;
    font-weight: 400px;
}
.sign a{
    text-decoration: none;
    color: black;
}
.sign a:hover{
    color:blue;
}
.singbtn{
    padding-bottom: 10px;
}
.sign button:hover{
    color:blue;
}
.logoutbtn{
    all:unset;
    padding-bottom: 10px;
}
.logotab{
    padding: 10px 20px 0px 20px;
}
.logoname{
    font-weight: 500;
    font-size: 1.5rem;
    margin: 23px 0px 10px 0px;
    
    
}
.home{
    margin: 35px 0px 10px 20px;
}
.mainbar_search1{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
.mainbar_search2{
    background: white;
    width: 300px;
    display: flex;
    place-items: center;
    border: solid 2px gray;
    border-radius: 1.5rem;
}
.search{
    border:none;
    outline:none;
    font-size:16px
  }
.helptab{
    font-size: 18px;
    font-weight: 300px;
    text-decoration: none;
    padding: 40px 0px 0px 240px;
}
.helptab a:hover{
    color:blue;
}
.menubar{
    display: grid;
    grid-template-columns: 5% 19% 19% 19% 19% 19%;
    box-shadow: 0px 2px 10px gray;
}
.menubartwo{
    display: grid;
    grid-template-columns: 5% 31.7% 31.7% 31.7%;
    box-shadow: 0px 2px 10px gray;
}
.menubarcustomer{
    display: grid;
    grid-template-columns: 5% 31.7% 31.7% 31.7% ;
    box-shadow: 0px 2px 10px gray;
}
.menulist{
    color: black;
    text-decoration: none;
    background-color: white;
    display: grid;
    place-items: center;
}
.menulist:hover{
    background-color: #000333;
    color:white;
}

.dropdown_menu {
    font-size: 22px;
    display: none;
    position: absolute;
    background-color: white;
    z-index: 20
}

.dropdown_menu a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 20;
}
.dropdown{
    background-color: white;
    padding: 5px 0px 0px 10px
}
.dropdown:hover{
    background-color: #000333;
}
.dropdown_menu a:hover {
    background-color: #000333;
    color: white;
}

.dropdown:hover .dropdown_menu {
    display: block;
}

.navbar2{
    top:0px;
    left: 0px;
    position: fixed;
    display: grid;
    height: 100px;
    width: 100%;
    grid-template-rows: 100px ;
    background-color: white;
    z-index: 20;
}
.navbar2 a{
    text-decoration: none;
    color: black;
}

.logoutbtn {
    margin-top: 10px;
}
.iconprofile {
    display: grid;
    place-items: center;
    width: 100%;
    border: 1px solid black;
}
.iconprofilecustomer{
    display: grid;
    place-items: center;
    width: 100%;
    grid-template-columns: 30% 70%;
}

.namecust{
    width: 100%;
    text-align: left;
    font-size: 19px;
}
.namesell {
    margin-top: 8px;
    padding-left: 8px;
    font-size: 19px;
}

.outdropdown_one {
    display: grid;
    place-items: center;
    width: 100%;
}
.iconbell{
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 6px;
}
.outdropdown_two {
    margin: 2px 0px 0px 0px;
    position: relative;
    display: inline-block;
   
}
.logoname1{
    font-weight: 500;
    font-size: 1.5rem;
    margin: 15px 0px 10px 15px;
}
.logoname2 {
    font-weight: 500;
    font-size: 1.5rem;
    margin: 33px 0px 10px 15px;
}

.gearIcon {
    cursor: pointer;
}

.dropdownout {
    display: block;
    position: absolute;
    top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    

}

.menuButton {
    background-color: #ffffff;
    color: #000000;
    padding: 15px 20px 15px 20px;
    border: 1px solid;
    cursor: pointer;
    border-radius: 0.5rem;
    margin-left: -20px;


}

.dropdownout:hover {
    background-color: #ffffff;
    color: #ffffff;

}

.menuButton:hover {
    background-color: #000000;
    color: #ffffff;
  
}

.mainbar_feature{
    width: 100%;
    height: 100%;
    display: grid;
    place-items:center;
    grid-template-rows: 50% 50%;
    margin-left: 90px;
}
.booking_btn{
    all:unset;
    color: white;
    background-color: #282828;
    height: 40px;
    width: 50%;
    display: grid;
    place-items: center;
    font-size: 19px;
    font-weight: 500;
}.booking_btn:hover{
    background-color: #000333;
}
.postRoom_btn{
    all:unset;
    background-color: #282828;
    color:white;
    height: 40px;
    width: 50%;
    display: grid;
    place-items: center;
    font-size: 19px;
    font-weight: 500;
}.postRoom_btn:hover{
    background-color: #000333;
}
.help{
    margin: 0 0 0 80px;
    font-family: 'Times New Roman', Times, serif;
}
.help:hover{
    text-decoration: underline;
    color: blue;
}