.body {
  display: grid;
  place-items: center;
  width: 100%;
  background-color:#E8E8E8;
  
}
.container {
  place-items: center;
  width: 93%;
  background-color: white;
  margin-bottom: 120px;
  height: 10px;
}
.boxgrid {
  box-shadow: 0 2px 20px gray ;
  border-radius: 15px;
  margin-top: 50px;
  margin-left: 100px;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 850px;
  height: 350px;
  text-decoration: none;
}

.boxroom {
  box-shadow: 0 2px 20px gray ;
  background-color: white;
  height: 350px;
  width: 400px;
  border-radius: 15px;
  text-decoration: none;
  margin-bottom: 50px;
}
.Text {
  display: grid;
  grid-template-rows: 14% 14% 14% 14% 14% 14% 14%;
  height: 350px;
  
}
.line1 {
  margin-top: 10px;
}
.line2 {
  margin-top: -20px;
}
.line3 {
  margin-top: -20px;
}
.line4 {
  margin-top: -35px;
}
.line5 {
  margin-top: -40px;
}
.line6 {
  margin-top: 40px;
  margin-left: 300px;
}
.line7 {
  margin-top: 15px;
  margin-left: 250px;
}
.Texthead {
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.Textlocation {
  font-weight: bold;
  color: black;
  font-family: 'kanit' , sans-serif;
  margin-top: -21px;
  margin-left: 25px;
}
.Textdetail {
  width: 400px;
  color: rgb(155, 10, 10);
  font-weight: bold;
  font-family: 'Helvetica' , sans-serif;
  margin-top: -22px;
  margin-left: 5px;
}
.icon3 {
  color: rgb(155, 10, 10);
}
.price {
  font-size: 30px;
  color: rgb(155, 10, 10);
  font-weight: bold;
  margin-left: 20px;
  margin-top: -30px;
}
.Textprice {
  font-weight: bold;
  opacity: 0.5;
  color: black;
}
.Texttype {
  font-weight: bold;
  text-decoration: none;
  color: green;
}
.Textreview {
  color: rgb(15, 64, 210);
  font-weight: bold;
  margin-top: -45px;
  margin-left: 70px;
}