.body{
    display: grid;
    place-items: center;
    width: 100%;
    background-color:#E8E8E8;
}
.container{
    display: grid;
    width: 93%;
    place-items: center;
    background-color: white;
    margin-top: 100px;
}
.Boxgrid { 
    display: grid;
    place-items: center;
    grid-template-columns: 300px 500px;
    width: 800px;
    height: 500px;
    box-shadow: 0px 1px 4px gray;
}
.Boxleft { background-color: gray;
    width: 300px;
    height: 500px;
}
.icon { 
    
    width: 250px;
    height: 350px;
    padding-left: 50px;
    padding-top: 150px;
}
.Boxright {
    display: grid;
    place-items: center;
    grid-template-rows: 62.5px 62.5px 62.5px 62.5px 62.5px 62.5px 62.5px 62.5px;
    width: 500px;
    height: 500px;
}
.texthead { 
    width: 500px;
    height: 62.5px;
    font-size: 36px;
    font-weight: 500;
    font-weight: bold;
}
.head {
    margin-top: 10px;
    margin-left: 160px;
}
.input1 { 
    width: 500px;
    height: 62.5px;
}
.input_box2{
    padding-left: 10px;
    font-size: 16px;
    border:gray 1px solid;
    height: 32px;
    width: 200px;
    border-radius: 0.4rem;
    margin-left: 30px;
    margin-top: 12px;
}
.input_box4{
    padding-left: 10px;
    font-size: 16px;
    border:gray 1px solid;
    height: 32px;
    width: 427px;
    border-radius: 0.4rem;
    margin-top: 12px;
    margin-left: 30px;
}
.input_box3{
    padding-left: 10px;
    font-size: 16px;
    border:gray 1px solid;
    height: 32px;
    width: 200px;
    border-radius: 0.4rem;
    margin-left: 10px;
    margin-top: 12px;
}
.input_box5{
    padding-left: 10px;
    font-size: 16px;
    border:gray 1px solid;
    height: 32px;
    width: 200px;
    border-radius: 0.4rem;
    margin-top: 12px;
    margin-left: 30px;
}
.input_box6{
    padding-left: 10px;
    font-size: 16px;
    border:gray 1px solid;
    height: 32px;
    width: 200px;
    border-radius: 0.4rem;
    margin-top: 12px;
    margin-left: 10px;
}
.input_box8{padding-left: 10px;
    font-size: 16px;
    border:gray 1px solid;
    height: 32px;
    width: 200px;
    border-radius: 0.4rem;
    margin-left: 30px;
    margin-top: 12px;
    
}
.input_box9{padding-left: 10px;
    font-size: 16px;
    border:gray 1px solid;
    height: 32px;
    width: 200px;
    border-radius: 0.4rem;
    margin-left: 10px;
    margin-top: 12px;
}
.input_detail{padding-left: 10px;
    font-size: 16px;
    border:gray 1px solid;
    height: 45px;
    width: 427px;
    border-radius: 0.4rem;
    margin-left: 30px;
    margin-top: 7px;
}
.send_btn{
    border: none;
    border-radius: 0.3rem;
    height: 45px;
    width: 150px;
    color: white;
    font-size:20px;
    background-color: #282828;
    border-radius: 0.5rem;
    margin-top: 8px;
    margin-left: 160px;
}
.input2 { 
    width: 500px;
    height: 62.5px;
}
.input3 { 
    width: 500px;
    height: 62.5px;
}
.input4 { 
    display: grid;
    place-items: center;
    grid-template-rows: 31.25px 31.25px;
    width: 500px;
    height: 62.5px;
} 
.Boxinput4 {
    display: grid;
    place-items: center;
    grid-template-columns: 100px 400px;
    width: 500px;
    height: 31.25px;
}
.Boxtext {
    width: 500px;
    height: 31.25px;
}
.textupload { 
    color: red;
    font-size: 15px;
    margin-top: 6px;
    margin-left: 160px;
}
.Gridinputone { 
    width: 100px;
    height: 31.25px;
}
.iconupload {
    margin-left:75px;
    margin-top: 3px;
}
.Gridinputtwo { 
    width: 400px;
    height: 31.25px;
}
.input_box7{
    font-size: 16px;
    border:gray 1px solid;
    border-radius: 0.4rem;
    margin-top: 3px;
    margin-left: 20px;
}
.input5 { 
    width: 500px;
    height: 62.5px;
}
.input6 { 
    width: 500px;
    height: 62.5px;
}
.input7 { 
    width: 500px;
    height: 62.5px;
}
