.body{
    display: grid;
    place-items: center;
    width: 100%;
    background-color:#E8E8E8;
}
.container{
    display: grid;
    width: 93%;
    place-items: center;
    background-color: white;
    margin-top: 140px;
}
.iconuser {
    transform: translate(200px , 130px);
}
.Boxgrid {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 80px;
}
.container a{
    text-decoration: none;
}
.Box2 {
    margin-top: 10px;
    width: 600px;
    height: 500px;
    background-color: gray;
    border-radius: 30px 0px 0px 30px;
}
.form_box{
    display: grid;
    place-items: center;
    width: 600px;
    margin: 10px 0 20px 0 ;
    box-shadow:  0 2px 10px gray;
    height: 500px;
    border-radius: 0px 30px 30px 0px;
}
.titleform{
    font-size: 36px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}
.input_detail{padding-left: 10px;
    font-size: 16px;
    border:gray 1px solid;
    height: 45px;
    width: 427px;
    border-radius: 0.4rem;
    transform: translate(-6px , -50px );
}
.send_btn{
    border: none;
    border-radius: 0.3rem;
    height: 45px;
    width: 150px;
    color: white;
    font-size:20px;
    background-color: #282828;
    transform: translate(5px , -25px );
    border-radius: 30px;
}
.input_box1{padding-left: 10px;
    font-size: 16px;
    border:gray 1px solid;
    height: 32px;
    width: 100px;
    border-radius: 0.4rem;
    transform: translate(-170px , 30px );
}
.input_box2{padding-left: 10px;
    font-size: 16px;
    border:gray 1px solid;
    height: 32px;
    width: 200px;
    border-radius: 0.4rem;
    transform: translate(-120px , -4px );
}
.input_box3{padding-left: 10px;
    font-size: 16px;
    border:gray 1px solid;
    height: 32px;
    width: 200px;
    border-radius: 0.4rem;
    transform: translate(105px , -46px );
}
.input_box4{padding-left: 10px;
    font-size: 16px;
    border:gray 1px solid;
    height: 32px;
    width: 427px;
    border-radius: 0.4rem;
    transform: translate(-7px , -35px );
}
.input_box5{padding-left: 10px;
    font-size: 16px;
    border:gray 1px solid;
    height: 32px;
    width: 200px;
    border-radius: 0.4rem;
    transform: translate(-120px , -25px );
}
.input_box6{padding-left: 10px;
    font-size: 16px;
    border:gray 1px solid;
    height: 32px;
    width: 200px;
    border-radius: 0.4rem;
    transform: translate(108px , -66px );
}
.input_box7{padding-left: 10px;
    font-size: 16px;
    border:gray 1px solid;
    height: 32px;
    width: 425px;
    border-radius: 0.4rem;
    transform: translate(-6px , -46px );
}
.input_box8{padding-left: 10px;
    font-size: 16px;
    border:gray 1px solid;
    height: 32px;
    width: 200px;
    border-radius: 0.4rem;
    transform: translate(-120px , -30px );
}
.input_box9{padding-left: 10px;
    font-size: 16px;
    border:gray 1px solid;
    height: 32px;
    width: 200px;
    border-radius: 0.4rem;
    transform: translate(109px , -71px );
}
