.body{
    margin: 0 ;
    padding: 0 ;
    background:white;
}
.container {
    margin:  100px  0 0  0;
    display: grid;
    place-items: center;
}
.nav{
    height: 60px;
    position: fixed;
    width: 100%;
    margin: 0;
    font-size: 25px;
    top : 0px;
    left: 0px;
    padding: 0 ;
    background-color: hsl(236, 100%, 10%);
    display: grid;
    place-items: left;
    grid-template-columns: 20% 30% 50%;
}
.nav a{
    color: white;
    text-decoration: none;
}
.navBtn{
    display: grid;
    place-items: center;
}
.navBtn:hover{
    background-color: #283593;
}
.Table{
    width: 70%;
    display: grid;
}
.th{
    display: grid;
    place-items: center;
    font-family:Arial, Helvetica, sans-serif
    ;font-size:25px
}
.thead{

    height: 40px;
    color: white;
    background-color:#283593 ;
    display: grid;
    grid-template-columns: 20% 40% 20% 20%;
}
.TableBody{
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}
.tr{
    display: grid;padding: 10px 0 10px 0;
    grid-template-columns: 20% 40% 20% 20%;
    border-bottom: 2px solid gray;  
}
.tr:hover{
    background-color: #e0f2f1;
}
.td{
    display: grid;
    place-items: center;
    font-size: 20px;
    color: #616161;
}
.td1{
    font-weight: bold;
    font-size: 20px;
    padding-left: 30px;
}
.btnSetting{
    all: unset;
    background-color: #0a7e07;
    padding: 5px 5px 5px 5px;
    border-radius: 0.3rem;
    color:white;
}
.btnSetting:hover{
    color: white;
    background-color:#259b24;
}
