.body {
  display: grid;
  place-items: center;
  width: 100%;
  background-color:#E8E8E8;
  
}
.container {
  place-items: center;
  width: 93%;
  height: 1500px;
  background-color: white;
  margin-top: 140px;
}
.boxbackground { 
  margin-top: 50px;
  width: 1000px;
  height: 300px;
  margin-left: 260px;
  box-shadow: 0px 1px 5px ;
  border-radius: 0.5rem;
}
.boxbackground:hover {
  background-color: #000333;
  color:white;
}
.boxgrid { 
  display: grid;
  place-items: center;
  grid-template-columns: 300px 700px;
  width: 1000px;
  height: 300px;
  margin-bottom: 30px;
  text-decoration: none;
}
.box { 
  display: grid;
  place-items: center;
  font-size: 25px;
  width: 250px;
  height: 250px;
  color: white;
  font-weight: bold;
  background-color: rgb(177, 174, 174);
  border-radius: 0.5rem;
}
.room1 {
  white-space: pre-wrap;
  margin-top: 60px;
}
.room2 {
  margin-top: -120px;
}
.slide { 
  width: 650px;
  height: 250px;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 2px 20px gray ;
}
.figure {
  position: absolute;
  z-index: 1;
}
.iconslideleft {
  position: absolute;
  z-index: 2;
  margin-top: 100px;
  margin-left: 50px;
}
.iconslideright {
  position: absolute;
  z-index: 2;
  margin-top: 100px;
  margin-left: 550px;
}
.slide figure img {
  width: 20%;
  height: 250px;
  float: left;
}
.slide figure {
  position: relative;
  width: 500%;
  height: 500%;
  margin: 0px;
  animation: roomtype 12s infinite;
}
@keyframes roomtype {
  0%{left: 0%;}
  15%{left: 0%;}
  20%{left: -100%;}
  35%{left: -100%;}
  40%{left: -200%;}
  60%{left: -200%;}
  65%{left: -300%;}
  80%{left: -300%;}
  85%{left: -400%;}
  100%{left: -400%;}
}
.body a {
  text-decoration: none;
  color: black;
}