.body {
  display: grid;
  place-items: center;
  width: 100%;
  background-color:#E8E8E8;
  
}
.container {
  place-items: center;
  width: 93%;
  background-color: white;
  margin-top: 110px;
  height: 1700px;
}
.boxgrid {
  margin-top: 50px;
  margin-left: 100px;
  display: grid;
  grid-template-columns: 60% 40%;
}
.box {
  margin-top: 50px;
  margin-left: -50px;
  background-color: white;
  height: 350px;
  width: 800px;
  box-shadow: 0 2px 20px gray ;
}
.boxbackground {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 20px;
  padding-left: 15px;
  border-radius: 10px;
}
.boxbackgroundNon{
  font-size: 30px;
  margin-top: 20px;
  margin-left: 20px;
  padding-left: 15px;
  border-radius: 10px;
}
.boxbackgroundair {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 20px;
  padding-left: 15px;
  border-radius: 10px;
}
.boxbackgroundairAir{
  font-size: 30px;
  margin-top: 20px;
  margin-left: 20px;
  padding-left: 15px;
  border-radius: 10px;
}
.boximg {
  height: 260px;
  width: 760px;
  margin-top: 10px;
  margin-left: 20px;
}
.img1 {
  position: absolute;
  z-index: 3;
  box-shadow: 5px 5px 10px ;
}
.img2 {
  position: absolute;
  z-index: 2;
  transform: translate(200px , 0px);
  box-shadow: 5px 5px 10px ;
}
.img3 {
  position: absolute;
  z-index: 1;
  transform: translate(400px , 0px);
  box-shadow: 5px 5px 10px ;
}
.img4 {
  transform: translate(690px , 100px);
}
.img4:hover {
  transform: scale(1.1);
  transform-origin: center center;
  position: relative;
}
.figure {
  position: absolute;
  z-index: 1;
}
.iconslideleft {
  position: absolute;
  z-index: 2;
  transform: translate(15px , 170px);
}
.iconslideright {
  position: absolute;
  z-index: 2;
  transform: translate(500px , 170px);
}
.slide {
  width: 100%;
  height: 350px;
  margin-left: -50px;
  margin-top: 50px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 20px gray ;
}
.slide figure img {
  width: 20%;
  height: 350px;
  float: left;
}
.slide figure {
  position: relative;
  width: 500%;
  margin: 0px;
  animation: roomtype 12s infinite;
}
@keyframes roomtype {
  0%{left: 0%;}
  15%{left: 0%;}
  20%{left: -100%;}
  35%{left: -100%;}
  40%{left: -200%;}
  60%{left: -200%;}
  65%{left: -300%;}
  80%{left: -300%;}
  85%{left: -400%;}
  100%{left: -400%;}
}


