.body{
    display: grid;
    place-items: center;
    width: 100%;
    background-color:#E8E8E8;
  }
  
.container{
    display: grid;
    width: 93%;
    place-items: center;
    background-color: white;
    margin-top: 140px;
  }
.container a{
    text-decoration: none;
  }

.form_box{
    border-top-right-radius: 1.5rem;
    border-top-left-radius:1.5rem ;
    border-top:solid 25px #282828;
    display: grid;
    place-items: center;
    width: 430px;
    margin: 30px 0 20px 0 ;
    box-shadow:  0 2px 10px gray;
    height: 400px;
}
.titleform{
    font-size: 36px;
    font-weight: 500;
    margin-top: 10px;
}
.input_box{padding-left: 10px;
    font-size: 16px;
    border:gray 1px solid;
    height: 32px;
    width: 300px;
    border-radius: 0.4rem;
}
.input_detail{padding-left: 10px;
    font-size: 16px;
    border:gray 1px solid;
    height: 45px;
    width: 300px;


}
.send_btn{
    border: none;
    border-radius: 0.3rem;
    height: 45px;
    width: 150px;
    color: white;
    font-size:20px;
    background-color: #282828;
}