.body {
    display: grid;
    place-items: center;
    width: 100%;
    background-color:#E8E8E8;
    
}
.container {
    display: grid;
    place-items: center;
    width: 93%;
    background-color: white;
    margin-top: 110px;
}
.Boxgrid { 
    display: grid;
    place-items: center;
    grid-template-columns: 300px 500px;
    width: 800px;
    height: 500px;
    box-shadow: 0px 1px 4px gray;
}
.Boxleft { 
    background-color: gray;
    width: 300px;
    height: 500px;
}
.Boxlefticon {
    margin-left: 70px;
    margin-top: 130px;
}
.Boxright { 
    display: grid;
    place-items: center;
    grid-template-rows: 62.5px 62.5px 62.5px 62.5px 62.5px 62.5px 62.5px 62.5px;
    width: 500px;
    height: 500px;
}
.Texthead {
    width: 500px;
    height: 62.5px;
}
.head {
    margin-left: 30px;
    margin-top: 10px;
}
.line1 {
    width: 500px;
    height: 62.5px;
}
.Textnameinput1{
    padding-left: 10px;
    font-size: 16px;
    border:gray 1px solid;
    height: 32px;
    width: 200px;
    border-radius: 0.4rem;
    margin-left: 30px;
    margin-top: 12px;
}
.Textnameinput2{
    padding-left: 10px;
    font-size: 16px;
    border:gray 1px solid;
    height: 32px;
    width: 200px;
    border-radius: 0.4rem;
    margin-left: 10px;
    margin-top: 12px;
}
.line2 {
    width: 500px;
    height: 62.5px;
}
.Textnameinput4{
    padding-left: 10px;
    font-size: 16px;
    border:gray 1px solid;
    height: 32px;
    width: 427px;
    border-radius: 0.4rem;
    margin-top: 12px;
    margin-left: 30px;
}
.line3 {
    width: 500px;
    height: 62.5px;
}
.line4 {
    width: 500px;
    height: 62.5px;
}
.Textnameinput3{padding-left: 10px;
    font-size: 16px;
    border:gray 1px solid;
    height: 32px;
    width: 200px;
    border-radius: 0.4rem;
    margin-left: 30px;
    margin-top: 12px;
}
.line5 {
    width: 500px;
    height: 62.5px;
}
.Textdetailinput{
    padding-left: 10px;
    font-size: 16px;
    border:gray 1px solid;
    height: 45px;
    width: 427px;
    border-radius: 0.4rem;
    margin-left: 30px;
    margin-top: 7px;
}
.line6 {
    width: 500px;
    height: 62.5px;
}
.Textnameinput5{
    font-size: 16px;
    border:gray 1px solid;
    border-radius: 0.4rem;
    margin-top: 15px;
    margin-left: 100px;
}
.line7 {
    width: 500px;
    height: 62.5px;
}
.send_btn{
    border: none;
    border-radius: 0.3rem;
    height: 45px;
    width: 150px;
    color: white;
    font-size:20px;
    background-color: #282828;
    border-radius: 0.5rem;
    margin-top: -5px;
    margin-left: 160px;
}
