.body {
    display: grid;
    place-items: center;
    width: 100%;
    background-color:#E8E8E8;
    
}
.container {
    place-items: center;
    width: 93%;
    background-color: white;
    margin-top: 110px;
    height: 1000px;
}
.Texthead {
    display: grid;
    place-items: center;
    margin-top: 20px;
}
.Boxgrid {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 80px;
}
.Box2 {
    transform: translate(255px , 0px);
    width: 500px;
    height: 500px;
    background-color: gray;
    box-shadow: 0px 2px 15px;
    border-radius: 30px 0px 0px 30px;
}
.Box1 {
    transform: translate(0px , 0px);
    width: 500px;
    height: 500px;
    background-color: white;
    box-shadow: 0px 2px 15px;
    border-radius: 0px 30px 30px 0px;
}
.Textnameinput {
    padding-left: 10px;
    height: 30px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
    border: 1px solid;
    border-radius: 10px;
}
.Textdetailinput {
    padding-left: 10px;
    height: 30px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
    border: 1px solid;
    border-radius: 10px;
}
.button {
    transform: translate(180px , 10px);
    border: none;
    border-radius: 0.3rem;
    height: 45px;
    width: 150px;
    color: white;
    font-size:20px;
    background-color: #282828;
    border-radius: 30px;
}
.iconedit {
    transform: translate(170px , 120px);
}