.body {
    display: grid;
    place-items: center;
    width: 100%;
    background-color:#E8E8E8;
    
}
.container {
    place-items: center;
    width: 93%;
    background-color: white;
    margin-top: 110px;
}
.Texthead {
    display: grid;
    place-items: center;
    margin-top: 20px;
}
.one {
    display: grid;
    place-items: center;
    text-decoration: none;
    color: black;
}
.Box {
    display: grid;
    place-items: center;
    grid-template-columns: 150px 280px 70px;
    height: 100px;
    width: 500px;
    background-color: white;
    box-shadow: 0px 2px 15px;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.line1 {
    width: 150px;
    height: 100px;
}
.icon {
    margin-left: 35px;
    margin-top: 10px;
}
.line2 {
    width: 280px;
    height: 100px;
}
.Textname {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.Texttype {
    margin-top: 8px;
    color: green;
}
.line3 {
    width: 70px;
    height: 100px;
}
.Textedit {
    color: rgb(155, 10, 10);
    opacity: 0.8;
}
.errorpost {
    display: grid;
    place-items: center;
    grid-template-rows: 200px 100px;
    height: 300px;
    width: 500px;
    background-color: white;
    box-shadow: 0px 2px 15px;
    font-size: 50px;
    border-radius: 30px;
    margin-left: 530px;
    margin-top: 20px;
}
.lineerror1 { 
    display: grid;
    place-items: center;
    width: 500px;
    height: 200px;
}
.iconerror {
    margin-top: 15px;
}
.lineerror2 { 
    display: grid;
    place-items: center;
    width: 500px;
    height: 100px;
}
.Texterror {
    margin-top: -80px;
    font-size: 40px;
    color: rgb(155, 10, 10);
    font-weight: bold;
}