.body {
  display: grid;
  place-items: center;
  width: 100%;
  background-color: #F0F0F0;
}
.container {
text-align: center;
display: grid;
place-items: center;
width: 93%;
background-color: white;
margin-top: 95px;
padding-left: 20px;
}
.container a{
color: black;
text-decoration: none;
}
.topic{
margin: 20px 0 20px 0 ;
display: grid;
place-items: center;
border: 1px solid black;
font-size: 30px;
width: 450px;
height: 70px;
background-color: #282828;
color: white;
font-weight: 550;
}
.ListBox{
display: grid;
place-items: center;
grid-template-rows: 50px 50px 25px 150px 25px;
text-align: left;
margin: 20px 0 0 0;
width: 700px;
height: 300px;
border-radius: 30px;
box-shadow: 0 1px 5px gray;
}
.texthead { 
  display: grid;
  place-items: center;
  grid-template-columns: 100px 600px;
  width: 700px;
  height: 50px;
  background-color: #282828;
  color: white;
  border-radius: 30px 30px 0px 0px;
}
.head1 { 
  width: 100px;
  height: 50px;
}
.head2 { 
  width: 600px;
  height: 50px;
}
.line1 { 
  display: grid;
  place-items: center;
  grid-template-columns: 350px 350px;
  width: 700px;
  height: 50px;
}
.imagechat {
  padding-top: 5px;
  margin-left: 30px;
}
.textname {
  padding-top: 5px;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}
.line1left { 
  width: 350px;
  height: 50px;
}
.line1name{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 30px;
}
.line1right { 
  width: 350px;
  height: 50px;
}
.textbooking {
  width: 150px;
  height: 30px;
  background-color: #9ed492;
  color: #124a05;
  padding-top: 5px;
  padding-left: 25px;
  font-weight: bold;
  margin-top: 7px;
  margin-left: 130px;
}
.line2 {
  display: grid;
  place-items: center;
  grid-template-columns: 250px 450px;
  width: 700px;
  height: 150px;
}
.line2left { 
  width: 250px;
  height: 150px;
}
.imageusers {
  margin-top: 5px;
  margin-left: 75px;
}
.line2right { 
  display: grid;
  place-items: center;
  grid-template-rows: 75px 75px;
  width: 450px;
  height: 150px;
}
.line2right_top { 
  width: 450px;
  height: 75px;
}
.namedorm {
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
}
.line2right_bottom { 
  width: 450px;
  height: 75px;
}
.uptime {
  margin-top: -5px;
  font-weight: bold;
  font-size: 15px;
}
.line3 { 
  width: 700px;
  height: 20px;
}
.divider2 {
  border-top: 1px solid black;
  margin-top: -25px;
}
.line4 { 
  width: 700px;
  height: 20px;
}
.divider1 {
  border-top: 1px solid black;
  margin-top: -2px;
}
  