.body{
    display: grid;
    place-items: center;
    width: 100%;
    background-color:#E8E8E8;
}
.container{
    display: grid;
    width: 93%;
    place-items: center;
    background-color: white;
    margin-top: 140px;
}
.Box {
    display: grid;
    place-items: center;
    grid-template-columns: 150px 300px 50px;
    height: 100px;
    width: 500px;
    background-color: white;
    box-shadow: 0px 2px 15px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 30px;
}
.linehead1 { 
    width: 150px;
    height: 100px;
}
.iconuser {
    margin-left: 50px;
    margin-top: 15px;
}
.linehead2 { 
    width: 300px;
    height: 100px;
}
.Textname {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
.Textdorm {
    font-size: 15px;
    font-weight: bold;
    color: rgb(15, 64, 210);
    margin-top: 20px;
}
.linehead3 { 
    width: 50px;
    height: 100px;
}
.dropdown{
    z-index: 1;
    margin-top: 5px;
    padding: 5px 0px 0px 10px
}
.dropdown:hover .dropdown_menu {
    display: block;
}
.dropdown_menu {
    display: grid;
    place-items: center;
    grid-template-rows: 250px 25px 25px 25px 125px;
    width: 400px;
    height: 450px;
    margin-left: 20px;
    border-radius: 30px;
    box-shadow:  0 2px 10px gray;
    font-size: 22px;
    display: none;
    position: absolute;
    background-color: white;
    z-index: 2 ;
}
.dropdown_menu a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; 
}
.line1 { 
    width: 400px;
    height: 250px;
}
.showimg {
    border-radius: 30px 30px 0px 0px;
}
.line2 { 
    display: grid;
    place-items: center;
    grid-template-columns: 100px 300px;
    width: 400px;
    height: 25px;
}
.line2left {
    width: 100px;
    height: 25px;
}
.iconstar {
    margin-top: -17px;
    margin-left: 30px;
}
.line2right {
    width: 300px;
    height: 25px;
}
.showreview {
    margin-top: 3px;
    margin-left: 10px;
    font-size: 15px;
    color: rgb(15, 64, 210);
}
.line3 { 
    display: grid;
    place-items: center;
    grid-template-columns: 50px 350px;
    width: 400px;
    height: 25px;
}
.line3left {
    width: 50px;
    height: 25px;
}
.iconmap {
    margin-left: 30px;
}
.line3right {
    width: 350px;
    height: 25px;
}
.showlocation {
    margin-top: 3px;
    font-size: 15px;
}
.line4 { 
    width: 400px;
    height: 25px;
}
.showtype {
    margin-left: 30px;
    font-size: 15px;
    color: green;
}

.line5 { 
    display: grid;
    place-items: center;
    grid-template-columns: 50px 350px;
    width: 400px;
    height: 125px;
}
.line5left {
    width: 50px;
    height: 125px;
    margin-left: 10px;
}
.icondetail {
    margin-left: 30px;
}
.line5right {
    width: 350px;
    height: 125px;
}
.showdetail {
    margin-left: -15px;
    font-size: 15px;
    width: 350px;
    color: rgb(155, 10, 10);
}



