.body {
  display: grid;
  place-items: center;
  width: 100%;
  background-color: #F0F0F0;
}

.container {
  text-align: center;
  display: grid;
  width: 93%;
  background-color: white;
  margin-top: 140px;
}

.homeimg {
  font-size: 50px;
  width: 1240px;
  height: 350px;
}

.map {
  margin-top: 3%;
  font-size: 50px;
  width: 1240;
  padding-top: -10%;
  height: 1%;
  z-index: 1;

}

.searchBox {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 50%);
  background: #ffffff;
  height: 40px;
  border-radius: 40px;
  padding: 10px;


}

.searchBox:hover>.searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover>.searchButton {
  background: white;
  color: #2f3640;
}



.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: rgb(0, 0, 0);
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;

}

.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #e2e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}


.room_function {
  display: grid;
  width: 100%;
  grid-template-columns: 10% 10% 80%;
  height: 50px;
}

.room_btn {
  background-color: white;
  display: grid;
  place-items: center;
  box-shadow: 0px 2px 4px 0px gray;
}

.room_btn:hover {
  background-color: black;
  color: white;
}

.room_btn:hover a {
  color: white;
}

.room_btn a {
  color: black;
  text-decoration: none;
}

.roomcomponents {
  width: 90%;
  border: 1px solid #E0E0E0;
  display: grid;
  grid-template-columns: auto auto;
}
.roomBox {
  display: flex;
  width: 500px;
  height: 150px;
  box-shadow: 0 2px 10px gray;
  margin: 10px 0 20px 20px;
}
.roomBox:hover{
  background-color: #E0E0E0;
}
.imgBox {
  width: 200px;
  height: 150px;
}
.roomBox:hover .imgBox{
  opacity: 80%;
}

.textBox {
  width: 300px;
  height: 150px;
  display: grid;
  grid-template-rows: 50px 30px 45px 20px;
  padding-left: 20px;
}

.textBox1 {
  padding-top: 10px;
  display: flex;
  gap: 10px;
}

.dormNameBox {
  height: 30px;
  border-bottom: 1px solid gray;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;

}

.locationBox {
  padding-top: 7px;
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
  width: 130px;
}

.priceBox {
  display: flex;
  gap: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.price {
  font-size: 25px;
  font-weight: 650;
}

.month {
  padding-top: 13px;
  font-size: 16px;
}

.detailBox {
  text-align: left;
  display: flex;
  font-size: 14px;
  padding-right: 5px;
  width: 250px;
}

.typeBox {
  display: flex;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
}
.body a {
  text-decoration: none;
  color: black;
}