.body {
    display: grid;
    place-items: center;
    width: 100%;
    background-color: #F0F0F0;
  }
  
  .container {
    text-align: center;
    display: grid;
    width: 93%;
    background-color: white;
    margin-top: 150px;
  }
  .roomcomponents {
    width: 100%;
    border: 1px solid #E0E0E0;
    display: grid;
    place-items: left;
    padding-left: 20px;
    grid-template-columns: auto auto;
  }
  .roomcomponents a{
    color: black;
    text-decoration: none;
  }
  .roomcomponents :hover .roomBox{
    background-color: #E0E0E0;
  }
  .roomcomponents :hover .imgBox{
    opacity: 80%;
  }
  .room_function {
    display: grid;
    width: 100%;
    grid-template-columns: 10% 10% 80%;
    height: 50px;
  }
  
  .room_btn {
    background-color: white;
    display: grid;
    place-items: center;
    box-shadow: 0px 2px 4px 0px gray;
  }
  
  .room_btn:hover {
    background-color: black;
    color: white;
  }
  
  .room_btn:hover a {
    color: white;
  }
  
  .room_btn a {
    color: black;
    text-decoration: none;
  }

  .topic{
    background-color: #000333;
    color: white;
    padding-left: 20px;
    text-align: left;
  }
  
.roomBox {
    display: flex;
    width: 500px;
    height: 150px;
    box-shadow: 0 2px 10px gray;
    margin: 10px 0 20px 0;
    background-color: white;
  }
  
  .imgBox {
    width: 200px;
    height: 150px;
  }
  
  .textBox {
    width: 300px;
    height: 150px;
    display: grid;
    grid-template-rows: 35px 30px 50px 30px;
    padding-left: 20px;
  }
  
  .textBox1 {
    padding-top: 10px;
    display: flex;
    gap: 20px;
  }
  
  .dormNameBox {
    height: 25px;
    border-bottom: 1px solid gray;
    font-size: 20px;
    font-weight: 550;
    font-family: 'Times New Roman', Times, serif;
  
  }
  
  .locationBox {
    padding-top: 7px;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .priceBox {
    margin: 5px 0 0 0;
    display: flex;
    gap: 10px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .price {
    font-size: 20px;
    font-weight: 650;
  }
  
  .month {
    margin: 5px 0 0 0;
    font-size: 14px;
  }
  
  .detailBox {
    text-align: left;
    display: flex;
    font-size: 14px;
  }
  
  .typeBox {
    display: flex;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
  }